*{
	box-sizing: border-box;
}

body, html{
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body{
	overflow-x: hidden;
	--font-main: AmazonEmber,Helvetica Neue,Helvetica,Arial,sans-serif;
	--font-special: avenir next,Open Sans,sans-serif;
	--base-color: #232f3e;
	--font-color: #16191f;
	--font-color-light: #d5dbdb;
	--font-color-dark: #044463;
	--text-anchor: #0073bb;
	--key-color: #f8991d;
	font-family: var(--font-main);
}

.body{
	display: grid;
	grid-template-columns: auto 1fr;

	min-height: 100vh;
}

.poster{
	background: var(--base-color);
	color: var(--font-color-light);

	overflow: auto;

	padding: 0 20px;

	position: sticky;
	top: 0;

	height: 100vh;
	width: 300px;
}

.poster h3{
	color: var(--key-color);
	font-weight: normal;
}

.poster a:hover{
	color: var(--key-color);
	transition: .3s;
}

.main-content{

	min-height: 100vh;
}

nav{
	font-size: 14px;

	position: sticky;
	top: 0;
	z-index: 99;
}

nav ul{
	text-align: right;
	padding: 14px 30px;
	margin: 0;
	background: white;
}

nav ul li{
	display: inline-block;
	text-decoration: none;
}

nav ul li a{
	display: block;
	padding: 16px 12px;
	text-decoration: none;
	color: var(--font-color);
}

nav ul li a:hover{
	color: var(--key-color);
	transition: .3s;
}

.toggle{
	background: var(--base-color);

	text-align: right;
	padding: 10px 20px;
	color: var(--font-color);
	font-size: 20px;
	display: none;
}

.toggle i{
	color: var(--font-color-light);
}

.profile{
	text-align: center;
	margin: 20px auto;
}

.profile h3{
	margin: 10px 0;
	font-weight: 400;
}

.profile b{
	font-size: 12px;
	font-weight: 400;
}

.profile img{
	border-radius: 50%;
	width: 120px;
}

.research-brief{
	color: var(--font-color-light);
	font-size: 13px;
}

.research-brief, .contact-brief, .social-brief{
	margin: 35px 0;
}

.research-brief h3, .contact-brief h3, .social-brief h3{
	font-size: 14px;
	text-align: left;
	margin: 10px 0;
	padding: 0 0 0 20px;
}

.research-brief ul{
	padding: 0 0 0 20px;
	margin: 10px 0;
	list-style-type: none;
}

.contact-brief p{
	font-size: 13px;
	padding: 0 0 0 20px;
}

.social-brief ul{
	list-style-type: none;
	padding: 0 0 0 20px;
}

.social-brief ul li{
	display: inline;
	margin: 0 5px;
}

.social-brief ul li a{
	text-decoration: none;
	font-size: 16px;
	color: var(--font-color-light);
}

.random-image{
	width: 500px;
	margin: 50px auto;

	border: 1em solid #fff;
	border-radius: .25em;
	box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2);

	opacity: 0;
	transform: scale(.7);
	transition: transform 1s .25s cubic-bezier(0,1,.3,1),
	            opacity .3s .25s ease-out;
}

.random-image.is-visible{
	opacity: 1;
	transform: scale(1);
}

.random-image h4{
	text-align: center;
	font-weight: normal;
	background: white;

	margin: 12px 0;
}

.random-image img{
	width: 100%;
}

section{
	margin: 50px 0;
}

main.main{
	margin: auto;
	padding: 20px;
}

main.main ul li{
	margin: 18px 0;
}

.heading{
	font-size: 36px;
	font-weight: normal;
}

.sub-heading{
	font-weight: normal;
	font-size: 24px;
}

footer{
	font-size: 14px;
	margin: 0 auto 70px;
	padding: 10px 20px;
	text-align: center;
}

footer b{
	font-weight: normal;
}

footer a{
	color: var(--text-anchor);
	text-decoration: none;
}

footer a:hover{
	text-decoration: underline;
}

@media screen and (max-width: 1024px){

	.poster{
		display: none;
	}

	.body{
		grid-template-columns: 1fr;
	}

	nav ul{
		background: var(--base-color);
		margin: 0;
		padding: 0 30px;
		text-align: left;
	}

	nav ul li a{
		color: var(--font-color-light);
	}
	
}

@media screen and (max-width: 767px){

	.toggle{
		display: block;
	}

	nav ul{
		width: 100%;
		height: calc(100vh - 43.2px);

		position: absolute;
		right: -100vw;
		width: 100vw;

		display: flex;
		flex-direction: column;
		justify-content: space-evenly;

		transition: .3s;
	}

	nav ul li{
		display: block;
	}

	nav ul li a{
		padding: 0;
	}

	.toggle-active{
		transform: translateX(-230px);
		box-shadow: 0px 0px 25px #232931;

		transition: transform .3s;
	}

	.cut i{
		color: var(--key-color);
		transition: .3s;
	}

	.random-image{
		width: 95%;
		max-width: 500px;
		border: .7em solid #fff;
	}

	main.main ul{
		padding: 0 0 0 20px;
	}

	footer b::before{
		content: "\a";
		white-space: pre;
	}

}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--base-color); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--key-color); 
}

::selection{
	background: var(--font-color-dark);
	color: white;
}