@import url('style-header-footer.css');

#contact a{
	color: var(--key-color);
}

section.contact .img-socialmedia{
	text-align: center;
}

section.contact .img-socialmedia img{
	border-radius: 50%;
}

section.contact div{
	margin: 20px 0;
	display: inline-block;
	vertical-align: top;
}

section.contact .contact-info p b{
	display: inline-block;
	font-weight: normal;
	font-size: 26px;
	margin: 15px 0;
}

section.contact .contact-info ul li a{
	color: var(--text-anchor);
	text-decoration: none;
	word-break: break-all;
}

section.contact .contact-info ul li a:hover{
	text-decoration: underline;
}

/*------------------Social Media Icons styling-------------------*/

section.contact .fa {
	margin: 20px 2.5px;
	padding: 10px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    transition: .1s;
}

section.contact .fa:hover {
    transform: scale(1.1);
    transition: .3s;
}

section.contact .fa-facebook {
  background: #3B5998;
  color: white;
}

section.contact .fa-twitter {
  background: #55ACEE;
  color: white;
}

section.contact .fa-linkedin {
  background: #007bb5;
  color: white;
}

/*---------x--------Social Media Icons styling----------x--------*/

@media screen and (min-width: 767px){

	main.main{
		width: 700px;
	}

	section.contact .contact-info{
		margin: 20px 25px;
	}

}